.container {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  background-color: white;
}

.container img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 50%;
}

.text {
  margin: auto 0;
  display: inline-block;
  font-size: 1.25rem;
}
