.container {
  display: grid;
  grid-template-columns: 4rem 1fr 15%;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  background-color: white;
}

.container img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.text {
  margin: auto 0;
}
