:root {
  --gap_for_items: 1rem;
  --gap_in_item: 0.25rem;
  --height_for_item: 7rem;
  --item__width: 3.6rem;
}

.container {
  margin: 0.5rem 0;
  max-width: calc(var(--item__width) * 3 + var(--gap_in_item) * 2);
  display: flex;
  gap: var(--gap_for_items);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.item {
  width: var(--item__width);
  height: fit-content;
  align-items: center;
  color: white;
}

.item img {
  height: 60px;
  width: 60px;
  border: 1px solid black;
  border-radius: 50%;
}

.item p {
  margin: 0;
  text-align: center;
}

a.active {
  color: white;
  font-weight: 700;
}

.btn__group {
  display: flex;
  justify-content: space-between;
}

button.btn {
  cursor: pointer;
  background: none;
  color: white;
  border: none;
}
