.container {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 0.25rem 0.5rem;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
}
