.header {
  display: flex;
  align-items: center;
  grid-area: header;
  justify-content: space-between;
  background-color: black;
  padding: 0 1rem;
}

.logo {
  width: 4rem;
  height: auto;
}

.text {
  color: white;
}
