.nav {
  grid-area: nav;
  background-color: rgb(89, 75, 139);
  padding: 0.25rem 1rem;
}

.nav a {
  display: block;
  font-weight: 500;
  font-size: 1.75rem;
  margin: 0.25rem 0;
}

a.active {
  color: white;
  font-weight: 700;
}
