.content {
  grid-area: content;
  background-color: steelblue;
}

.wrapper {
  height: 20rem;
  background: url("https://source.unsplash.com/random/1200x600");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile {
  height: 4rem;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  background-color: black;
}

.avatar {
  width: 8rem;
  height: 8rem;
  overflow: visible;
  border-radius: 50%;
  border: 0.25rem solid white;
  box-shadow: 0px 0px 1rem paleturquoise;
}

.info {
  flex: 1;
  padding: 1rem;
  border-radius: 1rem;
}

.info__text {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.links_group {
  color: white;
}
