.container {
  background: #99afff;
  background: radial-gradient(
          at 54% 25%,
          hsla(243, 88%, 70%, 1) 0,
          transparent 54%
  ),
  radial-gradient(at 35% 93%, hsla(232, 72%, 70%, 1) 0, transparent 55%),
  radial-gradient(at 69% 94%, hsla(269, 82%, 74%, 1) 0, transparent 40%),
  radial-gradient(at 14% 67%, hsla(333, 61%, 68%, 1) 0, transparent 45%);
  gap: 1rem;
  padding: 1rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.message {
  margin: 0;
  max-width: 40%;
  word-wrap: break-word;
  overflow: auto;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 0.5rem;
  color: black;
}

.message.align_right {
  align-self: flex-end;
}

.input_group {
  width: 90%;
  align-self: center;
  display: flex;
  padding: 0 1rem;
  gap: 1rem;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
}

.input_group .text_input {
  flex: 1;
  color: white;
  resize: none;
  border: none;
  background: none;
  outline: none;
}

.input_group .btn {
  width: 6rem;
  height: 2.25rem;
  color: white;
  font-weight: 700;
  background: #0088CC;
  border-radius: 1rem;
  border: none;
  box-shadow: none;
}