.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 1rem;
  gap: 1rem;
  width: 20%;
  border-radius: 0.5rem;
}

.text {
  margin: 0;
}

.name {
  font-size: 1.25rem;
  font-weight: 700;
}

.avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid black;
}

.follow_btn {
  color: white;
  font-weight: 700;
  background: #0088CC;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.unfollow_btn {
  color: white;
  font-weight: 700;
  background: #BE3752;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
}