@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Jura", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.App-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 15rem 5fr;
  min-height: 100vh;
}

.App-wrapper__content {
  grid-area: content;
  background-color: rgb(58, 58, 58);
}
