a {
  text-decoration: none;
  color: black;
}

.App-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 2fr 10fr;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  grid-area: header;
  background-color: black;
}

.header img {
  width: 4rem;
  height: auto;
}

.nav {
  grid-area: nav;
  background-color: palevioletred;
}

.nav a {
  display: block;
}

.content {
  grid-area: content;
  background-color: steelblue;
}

.content .profile {
  height: 10rem;
  display: flex;
  padding: 1rem;
  background-image: url("https://source.unsplash.com/random/600x160");
  background-size: cover;
}

.profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.25rem solid white;
  box-shadow: 0px 0px 1rem paleturquoise;
  align-self: center;
}

.profile .info {
  flex: 1;
  padding: 1rem;
  border-radius: 1rem;
}

.info p {
  font-size: x-large;
  font-weight: bold;
  color: white;
}
